/***************** Tag Selectors ****************************/

body {
  background-color: #f1fcfc;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  color: #07456f;
  text-decoration: underline #07456f;
  text-transform: uppercase;
}

h2 {
  color: #07456f;
  font-weight: bold;
}

h3 {
  color: #07456f;
  font-style: italic;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}


p {
	letter-spacing: 0.01em;
	word-spacing: 0.5em;
	line-height: 1.2;
	text-align: center;
}

form {
padding: 15px;
background-color: white;
font-style: italic;
border-style: solid;
font-weight: 900px;
}

input[type=submit] {
  background: white;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: black;
    font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   font-weight: 100;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

input[type=text]:focus {
  background-color: #07456f;
  color: white;
  width: 50%
  }

input[type=email]:focus {
    background-color: #07456f;
    color: white;
    width: 50%
    }


/****************** Class Selectors ****************************/

.avatar {
border: 1px solid #07456f;
}

.submit:hover {
  border: solid #30E3CB 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #30E3CB);
  background-image: -moz-linear-gradient(top, #30E3CB, #30E3CB);
  background-image: -ms-linear-gradient(top, #30E3CB, #30E3CB);
  background-image: -o-linear-gradient(top, #30E3CB, #30E3CB);
  background-image: -webkit-gradient(to bottom, #30E3CB, #30E3CB);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.contactform {
margin-left: 200px;
margin-right: 200px;
}

.sociallinks {
  font-style: italic;
}

/******************CLass ID ************************************/

#navbar:hover {

  border: solid white 0;
  background: white;

}
